<p id="notice"><%= notice %></p>

<p>
  <strong>Productid:</strong>
  <%= @order.productID %>
</p>

<p>
  <strong>Customerid:</strong>
  <%= @order.customerID %>
</p>

<p>
  <strong>Status:</strong>
  <%= @order.status %>
</p>

<p>
  <strong>Dateordered:</strong>
  <%= @order.dateOrdered %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @order.quantity %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
