<!doctype html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<!--[if IE]>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
	<![endif]-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	
	<title>Fashion Stores - Bootstrap 3 Template</title>
	
	<!-- Bootstrap Core CSS -->
	<link href="css/bootstrap.min.css" rel="stylesheet">
	
	<!-- Google Web Fonts -->
	<link href="http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,300,700" rel="stylesheet" type="text/css">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
	
	<!-- CSS Files -->
	<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/responsive.css" rel="stylesheet">
	
	<!--[if lt IE 9]>
		<script src="js/ie8-responsive-file-warning.js"></script>
	<![endif]-->
	
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	
	<!-- Fav and touch icons -->
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/fav-144.png.html">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/fav-114.png.html">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/fav-72.png.html">
	<link rel="apple-touch-icon-precomposed" href="../assets/fav-57.png.html">
	<link rel="shortcut icon" href="../assets/fav.png.html">
	
</head>
<script>
  function AddCart() {
    
  }
  function here(arr) {
  	var selectedType = document.getElementById('typeselect').value ;
  	document.getElementById('typeselect2').value = selectedType;
  	for (var i = 0; i < arr.length;i++) {
  		if (arr[i] == selectedType) {
  			document.getElementById('setPrice').innerHTML = 'RS ' + arr[i+1];
  			break;
  		}
  	}
  	
  }
</script>

<body>

<!-- Main Container Starts -->
	<div id="main-container" class="container">
		<div class="row">
		<!-- Primary Content Starts -->
			<div class="col-md-12">
			<!-- Breadcrumb Starts -->
			<!-- Breadcrumb Ends -->
			<!-- Product Info Starts -->
				<div class="row product-info">
				<!-- Left Starts -->
					<div class="col-sm-5 images-block">
						<p>
							<img src= <%= @product.pictures_url %> alt="Image" class="img-responsive thumbnail" />
						</p>
					
					</div>
				<!-- Left Ends -->
				<!-- Right Starts -->
					<div class="col-sm-7 product-details">
					<!-- Product Name Starts -->
					<% if flash[:notice] == 2 %>
					 <h1 style = "color:red">Please login or register to Buy!</h1>
					<% end %>
    
						<h2><%= @product.tittle %></h2>
					<!-- Product Name Ends -->
						<hr />
					<!-- Manufacturer Starts -->
						<ul class="list-unstyled manufacturer">
							<li><span>Popularity:</span> <%=@product.popularity%></li>
							<li>
								<span>Availability:</span> <strong class="label label-success">In Stock</strong>
							</li>
						</ul>
					<!-- Manufacturer Ends -->
						<hr />
					<!-- Price Starts -->
					
					<!-- Price Ends -->
					
					<!-- Available Options Starts -->
				
						<div class="options">
						  <% flash[:cur] = @product.id %>
								<%= form_tag("/orders/create", method: "post") do %>
								<div class="form-group">
									<div class = "type">
						<span class="type-head"> Type: </span>
						<span  onchange = "here(<%= eval(@product.features) %>)" class="type-select"> <%= select_tag :features, options_for_select(eval(@product.features).select.each_with_index { |_, i| i.even? }), :id => 'typeselect' %></span>
						<%= text_field_tag :Ptype,  nil,  class: "form-control", style: "border:none;display:none",:readonly => true, :value =>  eval(@product.features)[0], :id => "typeselect2"%>
					</div>
						<hr />
						<div class="price">
							<span class="price-head">Price :</span>
							<span id = "setPrice" class="price-new">Rs <%= eval(@product.features)[1] %></span> 
						</div>
							<hr />
        <%= label_tag :quantity, "QTY:" %>
        <%  if flash[:notice] == 1 %>
        <%= text_field_tag :quantity, nil, class: "form-control", style: " border-color:red;" %>
        <% else %>
         <%= text_field_tag :quantity, nil, class: "form-control"%>
         <%end%>
      </div>
      <%= button_tag(type: "submit", class: "btn btn-cart") do %>
    Add To Cart <i class="icon-repeat fa fa-shopping-cart "></i>
<% end %>
      <%end%>
						</div>
					<!-- Available Options Ends -->
						<hr />
					</div>
				<!-- Right Ends -->
				</div>
			<!-- product Info Ends -->
			<!-- Product Description Starts -->
				<div class="product-info-box">
					<h4 class="heading">Description</h4>
					<div class="content panel-smart">
						<p><%= @product.Information %></p>
					</div>
				</div>
			<!-- Additional Information Ends -->
			<!-- Related Products Starts -->
				<div class="product-info-box">
					<h4 class="heading">Related Products</h4>
				<!-- Products Row Starts -->
					<div class="row">
					
					<% Product.where(subcategory: @product.subcategory,category: @product.category).first(3).each do |product| %>
					<% if product.id != @product.id %>
				<div class="col-md-3 col-sm-6">
					
					<div class="product-col">
						<div class="image">
							<img src= <%= product.pictures_url %> style = "width:320px; height:250px;" alt="product" class="img-responsive" />
						</div>
						<div class="caption">
							<h4> <%= link_to product.tittle, '/products/'+ product.id.to_s %> </h4>
							<div class="price">
								<span class="price-new">Rs <%= eval(product.features)[1] %></span>
								<% if !current_user.nil?   %>
								<button type="button"  class="btn btn-cart">
									<%= link_to 'Add to Cart', {:controller => "orders", :action => "create", :quantity => 1,:Ptype => eval(product.features)[0] ,:productID => product.id, :customerID => current_user.id } , {:method=>:post,:class=>"myclass" ,:style =>'background-color:transparent;color:black;text-decoration:none' }  %>
									
									<i class="fa fa-shopping-cart"></i> 
								</button>
								<%end%>
							</div>
						</div>
					</div>
					
				</div>
				<%end%>
				<% end %>
					</div>
				<!-- Products Row Ends -->
				</div>
			<!-- Related Products Ends -->
			</div>
		<!-- Primary Content Ends -->
		<!-- Sidebar Ends -->
		</div>
	</div>
<!-- Main Container Ends -->

<!-- Footer Section Ends -->
<!-- JavaScript Files -->
<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/jquery-migrate-1.2.1.min.js"></script>	
<script src="js/bootstrap.min.js"></script>
<script src="js/bootstrap-hover-dropdown.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/custom.js"></script>
</body>
</html>